<header>
  <div class="logo-container">
    <div class="logo">
      <img src="../../../assets/images/summit.png" alt="Logo" />
    </div>
  </div>

  <nav>
    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
    </ul>
  </nav>

  <div class="auth-cart">
    <div class="cart">
      <span class="cart-icon">
        <a routerLink="/cart" routerLinkActive="active">🛒</a>
      </span>
      <span class="cart-count">{{ cartCount }}</span>
    </div>
  </div>
</header>
